
.Header-header {
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
    min-height: 10vh;
    display: flex;
    flex-direction: center;
    align-items: center;
    justify-content: center;
    
  }


.Header-logo {
  height: 20vmin;
  pointer-events: none;
  transform: scale(1);
  animation: pulse 3s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.7);
	}
	70% {
		transform: scale(0.8);
		
	}
	100% {
		transform: scale(0.7);
		
	}
}


